<!-- <ngx-spinner type="ball-scale-multiple"></ngx-spinner> -->
<div class="grid " style="justify-content: center; margin-top: 30px;">
    <div class="col-12 md:col-6">
        <div class="card">
            <h5>Teste de Cadastro</h5>
            <div class="p-fluid p-formgrid grid">
                <div class="field col-12 md:col-12">
                    <label>Razão Social</label>
                    <input [(ngModel)]="modelCadastrUsuario.razao_social" pInputText type="text" />
                </div>
                <div class="field col-12 md:col-12">
                    <label>Nome Fantasia</label>
                    <input [(ngModel)]="modelCadastrUsuario.email" pInputText type="text" />
                </div>
                
                <div class="field col-12 md:col-6">
                    <label>Endereço</label>
                    <input id="inputElement" ngx-google-places-autocomplete
                    [options]="options"
                    (onAddressChange)="handleAddressChange($event)" [(ngModel)]="modelCadastrUsuario.endereco" id="endereco" pInputText type="text" />
                </div>

                <div class="field col-12 md:col-3">
                    <label>CEP</label>				
                    <p-inputMask mask="99999-999" placeholder="00000-00" [(ngModel)]="modelCadastrUsuario.cep"></p-inputMask>
                </div>

                <div class="field col-12 md:col-3">
                    <label>Número</label>
                    <input [(ngModel)]="modelCadastrUsuario.numero" pInputText type="text" />
                </div>
                

                    <!-- <div class="field col-12 md:col-8">
                        <label>Endereço</label>
                        <input [(ngModel)]="model.email" pInputText id="email1" type="text" />
                    </div>
    
                    <div class="field col-12 md:col-4">
                        <label>Complemento</label>
                        <input [(ngModel)]="model.email" pInputText id="email1" type="text" />
                    </div> -->

                    <div class="field col-12 md:col-12">
                        <p-button  [loading]="loading" (click)="salvar()" label="Salvar"></p-button>
                    </div>
            </div>
        </div>
    </div>
</div>